#root {
    -fx-background-color: lightskyblue;
}

#countryListNames {
    -fx-font-size: 18px;
}

.label {
    -fx-background-color: lightblue;
}

#vBoxCountryInfo {
    -fx-background-color: silver;
    -fx-border-color: #0033CC;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#btnDownload {
    -fx-border-color: #0033CC;
    -fx-background-color: linear-gradient(silver,lightblue);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #0033CC;
}

#btnDownload:hover {
    -fx-background-color: linear-gradient(silver,lightsalmon);
}

#btnDownload:pressed {

}